/*  your css code here. If applicable */
body{
	background:#cccccc
}

h1,h2{
	text-align:center;
}

.player_two{
	width:300px;
	position:relative;
	left:35%;
	right:30%;
}

video{
	width:300px;
}



li,a{
	text-decoration:none;
	color:black;
	display:block;
}

.player_one, .player_two{
	background:white;
	border:1px solid black;
	padding: 5px;
	margin:10px;
}
